<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <title>Secret Detail</title>
</head>
<body>
<h1>Welcome to the Secret App</h1>
<div id="secretContainer">
    <h2>Secret:</h2>
    <p id="secretText"></p>
</div>

<script>
    const hash = window.location.pathname.split('/').pop();

    fetch(`/v1/secret/${hash}`, {
        method: 'GET',
        headers: {
            'Accept': 'application/json'
        }
    })
        .then(response => {
            if (!response.ok) {
                throw new Error('Failed to fetch secret');
            }
            return response.json();
        })
        .then(data => {
            document.getElementById('secretText').textContent = data.item.secretText;
        })
        .catch(error => {
            console.error('Error fetching secret:', error);
            document.getElementById('secretText').textContent = 'Failed to fetch secret. Please try again later.';
        });
</script>

</body>
</html>
